<!DOCTYPE html>
<html>
<% var locationUrl = "http://localhost:3000"%>
<head>
    <meta charset='utf-8' />
    <title>Flowgramming</title>
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="<%=locationUrl%>/assets/favicons/apple-touch-icon.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="<%=locationUrl%>/assets/favicons/favicon-32x32.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="<%=locationUrl%>/assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="<%=locationUrl%>/site.webmanifest" />
    <meta content="white" name="theme-color" />
    <link
            rel='stylesheet'
            href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i'
    />
    <link rel='stylesheet' href='<%=locationUrl%>/css/build/backend.css' />
</head>

<body>
<nav
        class='navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar'
>
    <div class='container'>
        <a class='navbar-brand logo' href='#'>Flowgramming</a
        >
        <button
                data-bs-toggle='collapse'
                class='navbar-toggler'
                data-bs-target='#navcol-1'
        >
                    <span class='visually-hidden'>Toggle navigation</span
                    ><span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navcol-1'>
            <ul class='navbar-nav ms-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='<%=locationUrl%>/landing.html'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='<%=locationUrl%>/problems'
                    >Problems</a
                    >
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='<%=locationUrl%>/contests'
                    >Contests</a
                    >
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='<%=locationUrl%>/login.html'>LOGIN</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='<%=locationUrl%>/profile.html'>PROFILE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>