<%- include ("./partials/header.ejs") %>
<section id='problemHeaderDiv'>
    <div class='container'>
        <br>
        <div class='block-heading text-md-center' id='problemHeader'>
            <h2 class='text-info'> All Problems</h2>
        </div>
        <br>
    </div>
</section>
<div id='problemsDiv' class='pb-200p'>
    <div class='container block-heading'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Problem Name</th>
                    <th>Creation Date</th>
                    <th>Visibility</th>
                </tr>
                </thead>
                <tbody>
                <% problems.map((problem, index) => { %>
                    <tr>
                        <td> <%= (index + 1) %> </td>
                        <td><span class="openProblem" data-id=<%=problem._id%>> <%= problem.name %> </span></td>
                        <% if (problem.author) { %>
                            <td> <%= problem.author.firstName %>  <%= problem.author.lastName %> </td>
                        <% } else { %>
                            <td>Test Author</td>
                        <% } %>
                        <td><span class="visibilityTag<%= problem.visibility %>">  <%= problem.visibility %> </span>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>



<%- include ("./partials/footer.ejs") %>

<!-- <input type='file' name='image'/> -->
