<%- include ("./partials/header.ejs") %>
<br>
<br>
<br>
<br>
<div class="container contest-details">
    <div class="container p-4 information">
        <div id='contest'>
        <p style="display: none;" id="getContestID"><%=contest._id%></p>
        <h2><%=contest.name%></h2>
        <p><%=contest.description%></p>
        <div class="container">
          <% if(contest.organizer) { %>
          <strong>Organizer: </strong> <%= contest.organizer.firstName%>  <%= contest.organizer.lastName %>
          <% } %>
          <br>
          <strong>Contest Start Time: </strong> <%= new Date(contest.contestStartTime).toLocaleString('en-IN') %>
          <br>
          <strong>Contest End Time: </strong> <%= new Date(contest.contestEndTime).toLocaleString('en-IN')%>
        </div>
        <br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Problem Name</th>
                <th scope="col">Points</th>
                <th scope="col">Author</th>
              </tr>
            </thead>
            <tbody>
              <% var index = 1; contest.problems.forEach((problem)=> { %>
                  <tr>
                    <th scope="row"><%=index%></th>
                    <td class='problemLinks' id='problemLink-<%=problem._id%>'><%= problem.problemObject.name %>
                    </td>
                    <td><%= problem.points %></td>
                    <% if(problem.problemObject.authors.length > 0) { %>
                        <td><%= problem.problemObject.authors %></td>
                    <% } else { %>
                        <td>Test Author</td>
                    <% } %>
                  </tr>
              <% index+=1; }) %>
            </tbody>
          </table>
          <br>
        </div>
        <br/>
        <div id="join">

        </div>
          <br>
          <br>
          <h3>Rankings</h3>
          <div class="container w-100 align-content-center" id="rankings-info-div">
                Enter Contest to view rankings
          </div>
    </div>
    <div class="container metadata">

    </div>

</div>

<script src='../js/viewContest.js'></script>
<%- include ("./partials/footer.ejs") %>